* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 100;
    /* border: 1px solid red;  */
}

body {
    background-color: #E2E2E2;
}

.main-container {
    margin: 0 auto;
    padding: 2rem 0;
    border: 1px solid red;
    background-color: #fff;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}


h1 {
    font-family: cursive;
    color: #A55122;
    font-size: 1.5rem;
    margin: 2rem 0;
    
}
nav {
    width: 100%;
}
nav ul { 
    display: block;
    list-style-type: none;
    width: 100%;
}

nav ul li {
    display: block;
}
nav li a { 
   display: block;
   margin: 1rem 0;
   padding: 2rem 0;
   text-decoration: none;
   color: black;
   background-color: #E2E2E2;
   width: 100%;
   text-align: center; 
}

main {
    border: 1px solid orange;
    width: 100%;
    border-radius: 10px;
}
article{
    padding: 4rem;
}
#mon_id {
    text-align: center;
    margin: 10px auto;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.5rem;
    
}
.slider1 {
    width: 100%;
    margin-bottom: 2rem;
}

p {
    text-align: justify;
    margin:  auto;
    padding: auto;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    margin-bottom: 2rem;
}

section {
    display: none;
}
.list {
    width: 30%;
    /* border: 1px solid rgb(41, 154, 58); */
}
ol li {
    padding: 0;
    margin-left: 1rem;
}

.galery {
    width: 55%;
    /* border: 1px solid rgb(187, 42, 163); */
}

.galery-foto img {
    width: 15%;
}
footer {
    text-align: center;
    padding: 2rem;
}
    
 @media screen and (min-width: 768px) { 
    section {
        display: flex; 
    }
    nav {
        width: 100%;
    }
    nav ul { 
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: space-around ; 
        background-color: rgb(233, 221, 221);
    } 
    nav ul li {
        display: flex;
        } 
    nav li a { 
        margin: 0rem 0;
        padding: 1rem 0; 
        text-decoration: none;
        color: black;
        background-color: rgb(233, 221, 221);
        width: 100%; 
    }
}
 
 @media screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
        img.logo {
            padding: 2rem 0crem; 
            margin: 2rem;
            display: block;
            width: 70%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h1 {
            margin: 1.5rem;
            padding:  0px;
            width: 50%;
        }
        nav {
            margin: 1.5rem;
            padding:  0px;
            width:40%;}
        nav ul {
            background-color: white;
        }
        nav li a {
            background-color: white;
        }
    main {
        display: flex;
        width: 100%;
    }
        article {
            width: 1300%;
            padding: 2rem;
            
        }
        section {
            display: flex;
            flex-direction: column;
            margin: 3rem 0rem;
            padding: 0 rem 5rem;
        }
           .list {
            width: 500%;
        }
            h2 {
            font-size: 25px;
            margin: 2rem 5rem;
           } 
           .list ol li {
            margin: 0rem 5rem;
           }
        .galery {
            margin: 2rem 5rem;
           }
           .galery h2 {
            margin: 2rem 0rem;
        }
        .galery-foto {
            padding: 1rem 0rem;
            display: block;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
    }
         
       
        
